body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.hero-img {
  max-height: 1000px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#visjs-loading-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

#visjs-progress-percentage {
  width: 30px;
  height: 50px;
  font-size: 22px;
  color: #000000;
  margin: 10px auto auto;
}

#visjs-progress-container {
  position: relative;
  top: 50vh;
  width: 600px;
  height: 23px;
  margin: auto;
}

#visjs-graph-info {
    position: relative;
    display: inline-block;
    left: 0;
    bottom: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    padding: 0 1em;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333333;
    font-size: 0.84em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 0.5em;
}

/** Filters **/
#root header {
    height: 72px;
}
#filter-dropdown {
  position: absolute;
  top: 72px;
  border: 1px solid rgba(200, 200, 200, 1);
  box-shadow: 0 0 5px gray;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);
  min-width: 50vw;
  max-width: 100vw
}

#filter-dropdown #filters {
  max-height: 60vh;
  overflow: scroll;
}

#filter-collapse-button {
  width: 100%;
}

#filters {
  padding-left: 10px;
}

#add-filters {
  width: 100%;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 1.6em;
}

#add-filters>div {
  width: 75%;
  font-weight: bold;
}

.filter-row {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  width: 100%;
}

.filter-row:after {
  content: "";
  display: table;
  clear: both;
}

.filter-row>div {
  float: left;
}

.filter-class {
  padding-right: 0.6em;
}

.filter-class>p {
  border-radius: 5px;
  padding: 0.2em 0.5em;
  text-align: center;
  font-weight: bold;
  color: #333333;
  font-size: 0.8em;
}

.filter-name {
  width: 9em;
  color: #000000;
}
.filter-name,
.filter-name > p {
  font-size: 1em;
}

.filter-entry {
  flex: 1;
  height: 100%;
}

.filter-entry>div {
  width: 100%;
}

.filter-delete {
  width: 3em;
}

.filter-entry-slider {
    padding-left: 1em;
    padding-right: 1em;
}

.filter-entry-slider>span {
    display: block;
}

#sidebar-user-details {
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
  z-index: 999;
}

#user-details {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#logout-button {
  width: 100%;
}

#sidebar-contents {
  overflow-y: auto;
}

#save-snapshot-button {
  z-index: 1000;
  position: absolute;
  right: 20px;
  top: 95px;
}
