<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} | PMC</title>
    <meta name="description" content="A website for exploring the relationships between authors in the PubMed database.">
    <meta name="author" content="SitePoint">

    <meta property="og:title" content="PubMed Connections">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
    <meta property="og:description" content="A website for exploring the relationships between authors in the PubMed database.">
    <meta property="og:image" content="image.png">

    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/css/layout.css">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
