
<html>
<head>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <style type="text/css">
        #mynetwork {
            width: 2000px;
            height: 1500px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
<h5>https://visjs.github.io/vis-network/docs/network/</h5>

<div id="mynetwork"></div>

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([


{id: 0, value: 1, label: 'Alabbasi KH'},
{id: 1, value: 177, label: 'Kruger E'},
{id: 2, value: 296, label: 'Tennant M'},
{id: 3, value: 1, label: 'Aqeeli A'},
{id: 4, value: 5, label: 'Alsharif AT'},
{id: 5, value: 1, label: 'Bakeer H'},
{id: 6, value: 1, label: 'Aminian P'},
{id: 7, value: 2, label: 'Kamil W'},
{id: 8, value: 21, label: 'Estai M'},
{id: 9, value: 1, label: 'Gebauer D'},
{id: 10, value: 1, label: 'Brostek A'},
{id: 11, value: 6, label: 'Vignarajan J'},
{id: 12, value: 3, label: 'Mehdizadeh M'},
{id: 13, value: 1, label: 'Saha S'},
{id: 14, value: 1, label: 'Shubayr MA'},
{id: 15, value: 9, label: 'Park JS'},
{id: 16, value: 2, label: 'Page AT'},
{id: 17, value: 1, label: 'Shen PH'},
{id: 18, value: 1, label: 'Price K'},
{id: 19, value: 4, label: 'Conquest JH'},
{id: 20, value: 1, label: 'Gill N'},
{id: 21, value: 1, label: 'Sivanujan P'},
{id: 22, value: 5, label: 'Skinner J'},
{id: 23, value: 6, label: 'Jo O'},
{id: 24, value: 1, label: 'Shreshtha B'},
{id: 25, value: 1, label: 'Karki S'},
{id: 26, value: 1, label: 'Allison C'},
{id: 27, value: 1, label: 'Xiang P'},
{id: 28, value: 1, label: 'Stephens J'},
{id: 29, value: 1, label: 'Ball O'},
{id: 30, value: 1, label: 'Wilton N'},
{id: 31, value: 10, label: 'McGeachie J'},
{id: 32, value: 9, label: 'Jean G'},
{id: 33, value: 1, label: 'Anderson N'},
{id: 34, value: 3, label: 'Youssef GJ'},
{id: 35, value: 2, label: 'McMillan L'},
{id: 36, value: 1, label: 'Thorson R'},
{id: 37, value: 1, label: 'Wheeler G'},
{id: 38, value: 3, label: 'McCarthy MC'},
{id: 39, value: 1, label: 'Abaid S'},
{id: 40, value: 1, label: 'Zafar S'},
{id: 41, value: 3, label: 'Paurobally N'},
{id: 42, value: 1, label: 'Asiri FY'},
{id: 43, value: 6, label: 'Jackson K'},
{id: 44, value: 5, label: 'Kelty E'},
{id: 45, value: 1, label: 'Meylan M'},
{id: 46, value: 14, label: 'Kanagasingam Y'},
{id: 47, value: 2, label: 'Norman R'},
{id: 48, value: 5, label: 'Huang B'},
{id: 49, value: 3, label: 'Spallek H'},
{id: 50, value: 8, label: 'Irving M'},
{id: 51, value: 2, label: 'Arora A'},
{id: 52, value: 1, label: 'Lok V'},
{id: 53, value: 6, label: 'Azimi S'},
{id: 54, value: 6, label: 'Ghorbani Z'},
{id: 55, value: 2, label: 'Ghasemi E'},
{id: 56, value: 2, label: 'Liu N'},
{id: 57, value: 1, label: 'Yahya Asiri F'},
{id: 58, value: 1, label: 'Howland M'},
{id: 59, value: 1, label: 'Bowen DJ'},
{id: 60, value: 1, label: 'Bauer AM'},
{id: 61, value: 1, label: 'Fortney JC'},
{id: 62, value: 1, label: 'Pyne JM'},
{id: 63, value: 1, label: 'Shore J'},
{id: 64, value: 1, label: 'Cerimele JM'},
{id: 65, value: 2, label: 'Page A'},
{id: 66, value: 2, label: 'Turner E'},
{id: 67, value: 2, label: 'Li J'},
{id: 68, value: 2, label: 'McGillivray J'},
{id: 69, value: 2, label: 'Clark TJ'},
{id: 70, value: 5, label: 'Kiran R'},
{id: 71, value: 5, label: 'Chapman J'},
{id: 72, value: 7, label: 'Forrest A'},
{id: 73, value: 9, label: 'Walsh LJ'},
{id: 74, value: 1, label: 'Alshehri YFA'},
{id: 75, value: 4, label: 'Forsyth C'},
{id: 76, value: 5, label: 'Short S'},
{id: 77, value: 4, label: 'Gilroy J'},
{id: 78, value: 1, label: 'Alsaigh E'},
{id: 79, value: 1, label: 'Ng KK'},
{id: 80, value: 1, label: 'Fiani N'},
{id: 81, value: 1, label: 'Peralta S'},
{id: 82, value: 1, label: 'Putri DE'},
{id: 83, value: 1, label: 'Charkey E'},
{id: 84, value: 9, label: 'Dyson K'},
{id: 85, value: 1, label: 'Lam M'},
{id: 86, value: 1, label: 'Koong C'},
{id: 87, value: 1, label: 'Aghazadeh H'},
{id: 88, value: 1, label: 'Crump T'},
{id: 89, value: 3, label: 'Weis E'},
{id: 90, value: 5, label: 'Ranasinghe N'},
{id: 91, value: 2, label: 'Chandrajith R'},
{id: 92, value: 1, label: 'Staszyk C'},
{id: 93, value: 1, label: 'Graham B'},
{id: 94, value: 1, label: 'Shiikha Y'},
{id: 95, value: 1, label: 'Md Bohari NF'},
{id: 96, value: 1, label: 'John J'},
{id: 97, value: 1, label: 'Prado da Fonseca E'},
{id: 98, value: 1, label: 'Cristina do Amaral R'},
{id: 99, value: 1, label: 'Carlos Pereira A'},
{id: 100, value: 2, label: 'Martins Rocha C'},
{id: 101, value: 1, label: 'Patel R'},
{id: 102, value: 1, label: 'Holden A'},
{id: 103, value: 1, label: 'Nicholls W'},
{id: 104, value: 2, label: 'Winters J'},
{id: 105, value: 1, label: 'Wijewardena B'},
{id: 106, value: 2, label: 'Holden ACL'},
{id: 107, value: 6, label: 'Dudko Y'},
{id: 108, value: 1, label: 'Robey DE'},
{id: 109, value: 1, label: 'Taheri JB'},
{id: 110, value: 1, label: 'Molaei H'},
{id: 111, value: 2, label: 'Rafieian N'},
{id: 112, value: 1, label: 'Manifar S'},
{id: 113, value: 1, label: 'Pakkhesal M'},
{id: 114, value: 1, label: 'Arshi S'},
{id: 115, value: 1, label: 'Eghbal MJ'},
{id: 116, value: 1, label: 'Deghatipour M'},
{id: 117, value: 1, label: 'Ardakani HM'},
{id: 118, value: 1, label: 'Kapoor V'},
{id: 119, value: 1, label: 'Douglas PS'},
{id: 120, value: 1, label: 'Hill PS'},
{id: 121, value: 2, label: 'Bunt SM'},
{id: 122, value: 2, label: 'Yuen A'},
{id: 123, value: 5, label: 'Rocha CM'},
{id: 124, value: 1, label: 'Safiaghdam H'},
{id: 125, value: 1, label: 'Kawaguchi A'},
{id: 126, value: 1, label: 'Sharafeldin N'},
{id: 127, value: 1, label: 'Sundaram A'},
{id: 128, value: 1, label: 'Campbell S'},
{id: 129, value: 4, label: 'Rudnisky C'},
{id: 130, value: 1, label: 'Damji KF'},
{id: 131, value: 1, label: 'Forsyth CJ'},
{id: 132, value: 1, label: 'Irving MJ'},
{id: 133, value: 2, label: 'Short SD'},
{id: 134, value: 1, label: 'Gilroy JA'},
{id: 135, value: 2, label: 'Rajshekar M'},
{id: 136, value: 2, label: 'Julian R'},
{id: 137, value: 2, label: 'Williams AM'},
{id: 138, value: 2, label: 'Wilson G'},
{id: 139, value: 2, label: 'Blizzard L'},
{id: 140, value: 7, label: 'Bunt S'},
{id: 141, value: 1, label: 'Sohal I'},
{id: 142, value: 3, label: 'Marroquin Penaloza TY'},
{id: 143, value: 4, label: 'Karkhanis S'},
{id: 144, value: 4, label: 'Kvaal SI'},
{id: 145, value: 4, label: 'Vasudavan S'},
{id: 146, value: 2, label: 'Castelblanco E'},
{id: 147, value: 1, label: 'Park J'},
{id: 148, value: 1, label: 'Marroquin TY'},
{id: 149, value: 1, label: 'Mansouri Z'},
{id: 150, value: 1, label: 'Bakhtiari S'},
{id: 151, value: 1, label: 'Rajabibazl M'},
{id: 152, value: 1, label: 'Daraei A'},
{id: 153, value: 1, label: 'Coles E'},
{id: 154, value: 3, label: 'Anjrini AA'},
{id: 155, value: 2, label: 'Gwynne K'},
{id: 156, value: 2, label: 'Blinkhorn A'},
{id: 157, value: 2, label: 'Shiikha J'},
{id: 158, value: 1, label: 'Nurul F'},
{id: 159, value: 1, label: 'Kanagasingam S'},
{id: 160, value: 1, label: 'Franklin D'},
{id: 161, value: 2, label: 'Checker H'},
{id: 162, value: 1, label: 'Evans R'},
{id: 163, value: 1, label: 'Larkins S'},
{id: 164, value: 1, label: 'Cheffins T'},
{id: 165, value: 1, label: 'Fleming R'},
{id: 166, value: 1, label: 'Johnston K'},
{id: 167, value: 1, label: 'Angell B'},
{id: 168, value: 4, label: 'Steele L'},
{id: 169, value: 1, label: 'Barns J'},
{id: 170, value: 1, label: 'Shanmugakumar S'},
{id: 171, value: 1, label: 'Playford D'},
{id: 172, value: 1, label: 'Burkitt T'},
{id: 173, value: 1, label: 'Bowles T'},
{id: 174, value: 2, label: 'Alsharif A'},
{id: 175, value: 1, label: 'Woincham LN'},
{id: 176, value: 1, label: 'Hindmarsh D'},
{id: 177, value: 1, label: 'Mahadasu S'},
{id: 178, value: 1, label: 'Meneni D'},
{id: 179, value: 1, label: 'Rao S'},
{id: 180, value: 3, label: 'Xiao D'},
{id: 181, value: 1, label: 'Weber LM'},
{id: 182, value: 5, label: 'McGuire S'},
{id: 183, value: 1, label: 'Almado H'},
{id: 184, value: 4, label: 'Whyman R'},
{id: 185, value: 1, label: 'Shiika Y'},
{id: 186, value: 6, label: 'Abduo J'},
{id: 187, value: 4, label: 'Bennamoun M'},
{id: 188, value: 2, label: 'Alshihri AM'},
{id: 189, value: 1, label: 'Boyle J'},
{id: 190, value: 1, label: 'Zhang M'},
{id: 191, value: 1, label: 'Estai MR'},
{id: 192, value: 1, label: 'Tay-Kearney ML'},
{id: 193, value: 1, label: 'Desai P'},
{id: 194, value: 2, label: 'Trolio R'},
{id: 195, value: 7, label: 'Lam R'},
{id: 196, value: 1, label: 'Zainab UI'},
{id: 197, value: 1, label: 'Mukhopadhyay S'},
{id: 198, value: 1, label: 'Conquest J'},
{id: 199, value: 1, label: 'Jacobi M'},
{id: 200, value: 1, label: 'Willie-Stephens J'},
{id: 201, value: 1, label: 'Derbi HA'},
{id: 202, value: 1, label: 'Heitz-Mayfield L'},
{id: 203, value: 1, label: 'Kurcz R'},
{id: 204, value: 1, label: 'Walker D'},
{id: 205, value: 1, label: 'Shiyha J'},
{id: 206, value: 1, label: 'Jivraj J'},
{id: 207, value: 1, label: 'Jivraj I'},
{id: 208, value: 1, label: 'Dimopoulos IS'},
{id: 209, value: 1, label: 'Johnson A'},
{id: 210, value: 1, label: 'Fisher S'},
{id: 211, value: 1, label: 'Freund PR'},
{id: 212, value: 1, label: 'Sauvé Y'},
{id: 213, value: 1, label: 'Kolber MR'},
{id: 214, value: 1, label: 'Nickonchuk T'},
{id: 215, value: 1, label: 'Ponnusamy A'},
{id: 216, value: 1, label: 'Monty R'},
{id: 217, value: 1, label: 'Alam N'},
{id: 218, value: 1, label: 'Al-Bloushi NS'},
{id: 219, value: 2, label: 'George R'},
{id: 220, value: 2, label: 'Madan C'},
{id: 221, value: 3, label: 'George RP'},
{id: 222, value: 1, label: 'Milne A'},
{id: 223, value: 1, label: 'Johnson JA'},
{id: 224, value: 1, label: 'Dryden DM'},
{id: 225, value: 1, label: 'Gurbuxani A'},
{id: 226, value: 1, label: 'Dogar F'},
{id: 227, value: 2, label: 'Philip P'},
{id: 228, value: 2, label: 'Rogers C'},
{id: 229, value: 3, label: 'Perera I'},
{id: 230, value: 1, label: 'Heitz-Mayfield LJ'},
{id: 231, value: 1, label: 'Abreu LP'},
{id: 232, value: 1, label: 'Jacobs A'},
{id: 233, value: 1, label: 'Emery A'},
{id: 234, value: 1, label: 'Hurley S'},
{id: 235, value: 1, label: 'Williams J'},
{id: 236, value: 1, label: 'Pougnault S'},
{id: 237, value: 1, label: 'Mercer A'},
{id: 238, value: 1, label: 'Granville-Chapman J'},
{id: 239, value: 1, label: 'Aldington D'},
{id: 240, value: 1, label: 'Smith SR'},
{id: 241, value: 1, label: 'Nott DM'},
{id: 242, value: 1, label: 'Abreu L'},
{id: 243, value: 1, label: 'Ziaei M'},
{id: 244, value: 1, label: 'Sanders EJ'},
{id: 245, value: 1, label: 'Harvey S'},
{id: 246, value: 1, label: 'Abbott P'},
{id: 247, value: 2, label: 'Lloyd C'},
{id: 248, value: 1, label: 'Ostrander M'},
{id: 249, value: 1, label: 'Parikh D'},
{id: 250, value: 1, label: 'Hoogeveen J'},
{id: 251, value: 1, label: 'Bacchia P'},
{id: 252, value: 1, label: 'Johnstone P'},
{id: 253, value: 1, label: 'Khew C'},
{id: 254, value: 1, label: 'Lee B'},
{id: 255, value: 1, label: 'Marchant H'},
{id: 256, value: 1, label: 'Morris K'},
{id: 257, value: 1, label: 'Riley C'},
{id: 258, value: 9, label: 'Smith K'},
{id: 259, value: 1, label: 'Atkinson D'},
{id: 260, value: 1, label: 'Lovatt R'},
{id: 261, value: 1, label: 'Goonewardenet M'},
{id: 262, value: 1, label: 'Tennant MI'},
{id: 263, value: 3, label: 'Jennings A'},
{id: 264, value: 2, label: 'Arena G'},
{id: 265, value: 1, label: 'Holley D'},
{id: 266, value: 1, label: 'Millar S'},
{id: 267, value: 1, label: 'Bazen JJ'},
{id: 268, value: 1, label: 'Bazen J'},
{id: 269, value: 1, label: 'Paul D'},
{id: 270, value: 1, label: 'Kandasamy S'},
{id: 271, value: 1, label: 'Goonewardene M'},
{id: 272, value: 1, label: 'Carrello C'},
{id: 273, value: 1, label: 'Virani S'},
{id: 274, value: 1, label: 'Strong D'},
{id: 275, value: 2, label: 'Greve M'},
{id: 276, value: 1, label: 'Young H'},
{id: 277, value: 1, label: 'Shade S'},
{id: 278, value: 1, label: 'Kanji M'},
{id: 279, value: 1, label: 'Toth E; Implementation Committee of the Aboriginal Diabetes Initiative'},
{id: 280, value: 1, label: 'Koong B'},
{id: 281, value: 1, label: 'Pharoah MJ'},
{id: 282, value: 1, label: 'Bulsara M'},
{id: 283, value: 1, label: 'Clark A'},
{id: 284, value: 1, label: 'Lejmanoski L'},
{id: 285, value: 1, label: 'Russell A'},
{id: 286, value: 1, label: 'Subramaniam S'},
{id: 287, value: 1, label: 'Somani R'},
{id: 288, value: 1, label: 'Ting A'},
{id: 289, value: 1, label: 'Eppler J'},
{id: 290, value: 1, label: 'Hinz B'},
{id: 291, value: 1, label: 'de Leon A'},
{id: 292, value: 1, label: 'Holmes HD'},
{id: 293, value: 1, label: 'Goonewardene MS'},
{id: 294, value: 2, label: 'Prima V'},
{id: 295, value: 1, label: 'Gorbatyuk OS'},
{id: 296, value: 1, label: 'Muzyczka N'},
{id: 297, value: 2, label: 'Scarpace PJ'},
{id: 298, value: 2, label: 'Zolotukhin S'},
{id: 299, value: 1, label: 'Shklyaev S'},
{id: 300, value: 1, label: 'Aslanidi G'},
{id: 301, value: 1, label: 'Kohlbrenner E'},
{id: 302, value: 1, label: 'Kroutov V'},
{id: 303, value: 1, label: 'Campbell-Thompson M'},
{id: 304, value: 1, label: 'Crawford J'},
{id: 305, value: 1, label: 'Shek EW'},
{id: 306, value: 1, label: 'McRee DE'},
{id: 307, value: 4, label: 'Dunlop SA'},
{id: 308, value: 8, label: 'Beazley LD'},
{id: 309, value: 2, label: 'Gaydos CA'},
{id: 310, value: 2, label: 'Crotchfelt KA'},
{id: 311, value: 2, label: 'Shah N'},
{id: 312, value: 2, label: 'Quinn TC'},
{id: 313, value: 2, label: 'Gaydos JC'},
{id: 314, value: 2, label: 'McKee KT Jr'},
{id: 315, value: 2, label: 'Rompalo AM'},
{id: 316, value: 2, label: 'Redwood AJ'},
{id: 317, value: 1, label: 'Madico G'},
{id: 318, value: 1, label: 'Daniel R'},
{id: 319, value: 1, label: 'Shah KV'},
{id: 320, value: 4, label: 'Pacza T'},
{id: 321, value: 1, label: 'Chin G'},
{id: 322, value: 1, label: 'Chong J'},
{id: 323, value: 1, label: 'Kluczewska A'},
{id: 324, value: 1, label: 'Lau A'},
{id: 325, value: 1, label: 'Gorjy S'},
{id: 326, value: 1, label: 'Namjoshi D'},
{id: 327, value: 1, label: 'Silva D'},
{id: 328, value: 1, label: 'Codde J'},
{id: 329, value: 1, label: 'Scriva J'},
{id: 330, value: 3, label: 'Martin-Iverson N'},
{id: 331, value: 2, label: 'Phatouros A'},
{id: 332, value: 14, label: 'McGeachie JK'},
{id: 333, value: 1, label: 'Moore S'},
{id: 334, value: 1, label: 'Sayadelmi L'},
{id: 335, value: 1, label: 'Pantin CC'},
{id: 336, value: 1, label: 'Hillman DR'},
{id: 337, value: 1, label: 'Phaouros A'},
{id: 338, value: 2, label: 'Jackiewicz TA'},
{id: 339, value: 1, label: 'London RM'},
{id: 340, value: 1, label: 'Stewart TM'},
{id: 341, value: 1, label: 'Anstee SD'},
{id: 342, value: 2, label: 'Purcell C'},
{id: 343, value: 1, label: 'Sheard PW'},
{id: 344, value: 1, label: 'Starac D'},
{id: 345, value: 1, label: 'Tomlin TL'},
{id: 346, value: 1, label: 'Preuss JM'},
{id: 347, value: 1, label: 'Coleman LA'},
{id: 348, value: 1, label: 'Plymate SR'},
{id: 349, value: 1, label: 'Birnbaum RS'},
{id: 350, value: 1, label: 'Thrasher JB'},
{id: 351, value: 1, label: 'Chatta G'},
{id: 352, value: 1, label: 'Ware JL'},
{id: 353, value: 1, label: 'Marlow SA'},
{id: 354, value: 1, label: 'Papadimitriou JM'},
{id: 355, value: 1, label: 'Moore SR'},
{id: 356, value: 1, label: 'Bruce SR'},
{id: 357, value: 1, label: 'Barker A'},
{id: 358, value: 1, label: 'Storrie AE'},
{id: 359, value: 3, label: 'Dilley RJ'},
{id: 360, value: 1, label: 'Heins T'},
{id: 361, value: 1, label: 'Gray A'},
{id: 362, value: 1, label: 'Prendergast FJ'},
{id: 363, value: 1, label: 'Hume R'},
{id: 364, value: 1, label: 'Currie WJ'},


]);

    // create an array with edges
    var edges = new vis.DataSet([

{from: 0, to: 1, value: 1,},
{from: 0, to: 2, value: 1,},
{from: 1, to: 2, value: 177,},
{from: 3, to: 4, value: 1,},
{from: 1, to: 3, value: 1,},
{from: 2, to: 3, value: 1,},
{from: 3, to: 5, value: 1,},
{from: 1, to: 4, value: 5,},
{from: 2, to: 4, value: 5,},
{from: 4, to: 5, value: 1,},
{from: 1, to: 5, value: 1,},
{from: 2, to: 5, value: 1,},
{from: 1, to: 6, value: 1,},
{from: 2, to: 6, value: 1,},
{from: 1, to: 7, value: 2,},
{from: 2, to: 7, value: 2,},
{from: 2, to: 8, value: 21,},
{from: 8, to: 9, value: 1,},
{from: 8, to: 10, value: 1,},
{from: 8, to: 11, value: 5,},
{from: 8, to: 12, value: 3,},
{from: 8, to: 13, value: 1,},
{from: 2, to: 9, value: 1,},
{from: 2, to: 10, value: 1,},
{from: 2, to: 11, value: 6,},
{from: 2, to: 12, value: 3,},
{from: 2, to: 13, value: 1,},
{from: 9, to: 10, value: 1,},
{from: 9, to: 11, value: 1,},
{from: 9, to: 12, value: 1,},
{from: 9, to: 13, value: 1,},
{from: 10, to: 11, value: 1,},
{from: 10, to: 12, value: 1,},
{from: 10, to: 13, value: 1,},
{from: 11, to: 12, value: 3,},
{from: 11, to: 13, value: 1,},
{from: 12, to: 13, value: 1,},
{from: 1, to: 14, value: 1,},
{from: 2, to: 14, value: 1,},
{from: 15, to: 16, value: 2,},
{from: 15, to: 17, value: 1,},
{from: 15, to: 18, value: 1,},
{from: 2, to: 15, value: 9,},
{from: 1, to: 15, value: 9,},
{from: 16, to: 17, value: 1,},
{from: 16, to: 18, value: 1,},
{from: 2, to: 16, value: 2,},
{from: 1, to: 16, value: 2,},
{from: 17, to: 18, value: 1,},
{from: 2, to: 17, value: 1,},
{from: 1, to: 17, value: 1,},
{from: 2, to: 18, value: 1,},
{from: 1, to: 18, value: 1,},
{from: 19, to: 20, value: 1,},
{from: 19, to: 21, value: 1,},
{from: 19, to: 22, value: 4,},
{from: 1, to: 19, value: 4,},
{from: 2, to: 19, value: 4,},
{from: 20, to: 21, value: 1,},
{from: 20, to: 22, value: 1,},
{from: 1, to: 20, value: 1,},
{from: 2, to: 20, value: 1,},
{from: 21, to: 22, value: 1,},
{from: 1, to: 21, value: 1,},
{from: 2, to: 21, value: 1,},
{from: 1, to: 22, value: 4,},
{from: 2, to: 22, value: 5,},
{from: 1, to: 23, value: 6,},
{from: 2, to: 23, value: 6,},
{from: 24, to: 25, value: 1,},
{from: 1, to: 24, value: 1,},
{from: 2, to: 24, value: 1,},
{from: 1, to: 25, value: 1,},
{from: 2, to: 25, value: 1,},
{from: 2, to: 26, value: 1,},
{from: 26, to: 27, value: 1,},
{from: 26, to: 28, value: 1,},
{from: 26, to: 29, value: 1,},
{from: 26, to: 30, value: 1,},
{from: 2, to: 27, value: 1,},
{from: 2, to: 28, value: 1,},
{from: 2, to: 29, value: 1,},
{from: 2, to: 30, value: 1,},
{from: 27, to: 28, value: 1,},
{from: 27, to: 29, value: 1,},
{from: 27, to: 30, value: 1,},
{from: 28, to: 29, value: 1,},
{from: 28, to: 30, value: 1,},
{from: 29, to: 30, value: 1,},
{from: 7, to: 31, value: 1,},
{from: 7, to: 32, value: 1,},
{from: 1, to: 31, value: 1,},
{from: 1, to: 32, value: 7,},
{from: 31, to: 32, value: 1,},
{from: 2, to: 31, value: 10,},
{from: 2, to: 32, value: 9,},
{from: 2, to: 33, value: 1,},
{from: 2, to: 34, value: 3,},
{from: 2, to: 35, value: 2,},
{from: 2, to: 36, value: 1,},
{from: 2, to: 37, value: 1,},
{from: 2, to: 38, value: 3,},
{from: 33, to: 34, value: 1,},
{from: 33, to: 35, value: 1,},
{from: 33, to: 36, value: 1,},
{from: 33, to: 37, value: 1,},
{from: 33, to: 38, value: 1,},
{from: 34, to: 35, value: 2,},
{from: 34, to: 36, value: 1,},
{from: 34, to: 37, value: 1,},
{from: 34, to: 38, value: 3,},
{from: 35, to: 36, value: 1,},
{from: 35, to: 37, value: 1,},
{from: 35, to: 38, value: 2,},
{from: 36, to: 37, value: 1,},
{from: 36, to: 38, value: 1,},
{from: 37, to: 38, value: 1,},
{from: 39, to: 40, value: 1,},
{from: 1, to: 39, value: 1,},
{from: 2, to: 39, value: 1,},
{from: 1, to: 40, value: 1,},
{from: 2, to: 40, value: 1,},
{from: 1, to: 41, value: 3,},
{from: 2, to: 41, value: 3,},
{from: 1, to: 42, value: 1,},
{from: 2, to: 42, value: 1,},
{from: 43, to: 44, value: 5,},
{from: 43, to: 45, value: 1,},
{from: 2, to: 43, value: 6,},
{from: 44, to: 45, value: 1,},
{from: 2, to: 44, value: 5,},
{from: 2, to: 45, value: 1,},
{from: 8, to: 46, value: 13,},
{from: 8, to: 47, value: 2,},
{from: 8, to: 48, value: 5,},
{from: 8, to: 49, value: 2,},
{from: 8, to: 50, value: 2,},
{from: 8, to: 51, value: 2,},
{from: 1, to: 8, value: 17,},
{from: 12, to: 46, value: 2,},
{from: 11, to: 46, value: 5,},
{from: 46, to: 47, value: 2,},
{from: 46, to: 48, value: 5,},
{from: 46, to: 49, value: 2,},
{from: 46, to: 50, value: 2,},
{from: 46, to: 51, value: 2,},
{from: 1, to: 46, value: 10,},
{from: 2, to: 46, value: 14,},
{from: 12, to: 47, value: 2,},
{from: 12, to: 48, value: 2,},
{from: 12, to: 49, value: 2,},
{from: 12, to: 50, value: 2,},
{from: 12, to: 51, value: 2,},
{from: 1, to: 12, value: 2,},
{from: 11, to: 47, value: 2,},
{from: 11, to: 48, value: 3,},
{from: 11, to: 49, value: 2,},
{from: 11, to: 50, value: 2,},
{from: 11, to: 51, value: 2,},
{from: 1, to: 11, value: 4,},
{from: 47, to: 48, value: 2,},
{from: 47, to: 49, value: 2,},
{from: 47, to: 50, value: 2,},
{from: 47, to: 51, value: 2,},
{from: 1, to: 47, value: 2,},
{from: 2, to: 47, value: 2,},
{from: 48, to: 49, value: 2,},
{from: 48, to: 50, value: 2,},
{from: 48, to: 51, value: 2,},
{from: 1, to: 48, value: 5,},
{from: 2, to: 48, value: 5,},
{from: 49, to: 50, value: 2,},
{from: 49, to: 51, value: 2,},
{from: 1, to: 49, value: 2,},
{from: 2, to: 49, value: 3,},
{from: 50, to: 51, value: 2,},
{from: 1, to: 50, value: 2,},
{from: 2, to: 50, value: 8,},
{from: 1, to: 51, value: 2,},
{from: 2, to: 51, value: 2,},
{from: 32, to: 52, value: 1,},
{from: 1, to: 52, value: 1,},
{from: 2, to: 52, value: 1,},
{from: 53, to: 54, value: 5,},
{from: 53, to: 55, value: 2,},
{from: 2, to: 53, value: 6,},
{from: 1, to: 53, value: 6,},
{from: 54, to: 55, value: 2,},
{from: 2, to: 54, value: 6,},
{from: 1, to: 54, value: 5,},
{from: 2, to: 55, value: 2,},
{from: 1, to: 55, value: 2,},
{from: 1, to: 56, value: 2,},
{from: 2, to: 56, value: 2,},
{from: 1, to: 57, value: 1,},
{from: 2, to: 57, value: 1,},
{from: 2, to: 58, value: 1,},
{from: 58, to: 59, value: 1,},
{from: 58, to: 60, value: 1,},
{from: 58, to: 61, value: 1,},
{from: 58, to: 62, value: 1,},
{from: 58, to: 63, value: 1,},
{from: 58, to: 64, value: 1,},
{from: 2, to: 59, value: 1,},
{from: 2, to: 60, value: 1,},
{from: 2, to: 61, value: 1,},
{from: 2, to: 62, value: 1,},
{from: 2, to: 63, value: 1,},
{from: 2, to: 64, value: 1,},
{from: 59, to: 60, value: 1,},
{from: 59, to: 61, value: 1,},
{from: 59, to: 62, value: 1,},
{from: 59, to: 63, value: 1,},
{from: 59, to: 64, value: 1,},
{from: 60, to: 61, value: 1,},
{from: 60, to: 62, value: 1,},
{from: 60, to: 63, value: 1,},
{from: 60, to: 64, value: 1,},
{from: 61, to: 62, value: 1,},
{from: 61, to: 63, value: 1,},
{from: 61, to: 64, value: 1,},
{from: 62, to: 63, value: 1,},
{from: 62, to: 64, value: 1,},
{from: 63, to: 64, value: 1,},
{from: 15, to: 65, value: 2,},
{from: 15, to: 66, value: 2,},
{from: 15, to: 67, value: 2,},
{from: 65, to: 66, value: 2,},
{from: 65, to: 67, value: 2,},
{from: 2, to: 65, value: 2,},
{from: 1, to: 65, value: 2,},
{from: 66, to: 67, value: 2,},
{from: 2, to: 66, value: 2,},
{from: 1, to: 66, value: 2,},
{from: 2, to: 67, value: 2,},
{from: 1, to: 67, value: 2,},
{from: 2, to: 68, value: 2,},
{from: 2, to: 69, value: 2,},
{from: 34, to: 68, value: 2,},
{from: 34, to: 69, value: 2,},
{from: 68, to: 69, value: 2,},
{from: 35, to: 68, value: 1,},
{from: 38, to: 68, value: 2,},
{from: 35, to: 69, value: 1,},
{from: 38, to: 69, value: 2,},
{from: 70, to: 71, value: 5,},
{from: 2, to: 70, value: 5,},
{from: 70, to: 72, value: 5,},
{from: 70, to: 73, value: 5,},
{from: 2, to: 71, value: 5,},
{from: 71, to: 72, value: 5,},
{from: 71, to: 73, value: 5,},
{from: 2, to: 72, value: 7,},
{from: 2, to: 73, value: 9,},
{from: 72, to: 73, value: 7,},
{from: 15, to: 74, value: 1,},
{from: 1, to: 74, value: 1,},
{from: 2, to: 74, value: 1,},
{from: 75, to: 76, value: 4,},
{from: 75, to: 77, value: 4,},
{from: 2, to: 75, value: 4,},
{from: 50, to: 75, value: 4,},
{from: 76, to: 77, value: 4,},
{from: 2, to: 76, value: 5,},
{from: 50, to: 76, value: 5,},
{from: 2, to: 77, value: 4,},
{from: 50, to: 77, value: 4,},
{from: 1, to: 78, value: 1,},
{from: 2, to: 78, value: 1,},
{from: 79, to: 80, value: 1,},
{from: 2, to: 79, value: 1,},
{from: 79, to: 81, value: 1,},
{from: 2, to: 80, value: 1,},
{from: 80, to: 81, value: 1,},
{from: 2, to: 81, value: 1,},
{from: 1, to: 82, value: 1,},
{from: 2, to: 82, value: 1,},
{from: 1, to: 83, value: 1,},
{from: 83, to: 84, value: 1,},
{from: 2, to: 83, value: 1,},
{from: 1, to: 84, value: 9,},
{from: 2, to: 84, value: 9,},
{from: 85, to: 86, value: 1,},
{from: 1, to: 85, value: 1,},
{from: 2, to: 85, value: 1,},
{from: 1, to: 86, value: 1,},
{from: 2, to: 86, value: 1,},
{from: 87, to: 88, value: 1,},
{from: 2, to: 87, value: 1,},
{from: 87, to: 89, value: 1,},
{from: 2, to: 88, value: 1,},
{from: 88, to: 89, value: 1,},
{from: 2, to: 89, value: 3,},
{from: 1, to: 90, value: 5,},
{from: 2, to: 90, value: 5,},
{from: 90, to: 91, value: 2,},
{from: 1, to: 91, value: 2,},
{from: 2, to: 91, value: 2,},
{from: 43, to: 92, value: 1,},
{from: 44, to: 92, value: 1,},
{from: 2, to: 92, value: 1,},
{from: 2, to: 93, value: 1,},
{from: 93, to: 94, value: 1,},
{from: 1, to: 93, value: 1,},
{from: 2, to: 94, value: 1,},
{from: 1, to: 94, value: 1,},
{from: 1, to: 95, value: 1,},
{from: 95, to: 96, value: 1,},
{from: 2, to: 95, value: 1,},
{from: 1, to: 96, value: 1,},
{from: 2, to: 96, value: 1,},
{from: 97, to: 98, value: 1,},
{from: 97, to: 99, value: 1,},
{from: 97, to: 100, value: 1,},
{from: 2, to: 97, value: 1,},
{from: 98, to: 99, value: 1,},
{from: 98, to: 100, value: 1,},
{from: 2, to: 98, value: 1,},
{from: 99, to: 100, value: 1,},
{from: 2, to: 99, value: 1,},
{from: 2, to: 100, value: 2,},
{from: 2, to: 101, value: 1,},
{from: 1, to: 101, value: 1,},
{from: 32, to: 102, value: 1,},
{from: 2, to: 102, value: 1,},
{from: 15, to: 103, value: 1,},
{from: 8, to: 15, value: 1,},
{from: 15, to: 104, value: 1,},
{from: 1, to: 103, value: 1,},
{from: 1, to: 104, value: 2,},
{from: 8, to: 103, value: 1,},
{from: 103, to: 104, value: 1,},
{from: 2, to: 103, value: 1,},
{from: 8, to: 104, value: 2,},
{from: 2, to: 104, value: 2,},
{from: 90, to: 105, value: 1,},
{from: 1, to: 105, value: 1,},
{from: 2, to: 105, value: 1,},
{from: 32, to: 106, value: 2,},
{from: 2, to: 106, value: 2,},
{from: 49, to: 106, value: 1,},
{from: 32, to: 49, value: 1,},
{from: 107, to: 108, value: 1,},
{from: 1, to: 107, value: 6,},
{from: 2, to: 107, value: 6,},
{from: 1, to: 108, value: 1,},
{from: 2, to: 108, value: 1,},
{from: 53, to: 109, value: 1,},
{from: 53, to: 110, value: 1,},
{from: 2, to: 109, value: 1,},
{from: 1, to: 109, value: 1,},
{from: 109, to: 110, value: 1,},
{from: 54, to: 109, value: 1,},
{from: 2, to: 110, value: 1,},
{from: 1, to: 110, value: 1,},
{from: 54, to: 110, value: 1,},
{from: 1, to: 106, value: 1,},
{from: 53, to: 111, value: 2,},
{from: 53, to: 112, value: 1,},
{from: 111, to: 112, value: 1,},
{from: 54, to: 111, value: 2,},
{from: 2, to: 111, value: 2,},
{from: 1, to: 111, value: 2,},
{from: 54, to: 112, value: 1,},
{from: 2, to: 112, value: 1,},
{from: 1, to: 112, value: 1,},
{from: 54, to: 113, value: 1,},
{from: 54, to: 114, value: 1,},
{from: 54, to: 115, value: 1,},
{from: 54, to: 116, value: 1,},
{from: 54, to: 117, value: 1,},
{from: 113, to: 114, value: 1,},
{from: 113, to: 115, value: 1,},
{from: 113, to: 116, value: 1,},
{from: 2, to: 113, value: 1,},
{from: 113, to: 117, value: 1,},
{from: 114, to: 115, value: 1,},
{from: 114, to: 116, value: 1,},
{from: 2, to: 114, value: 1,},
{from: 114, to: 117, value: 1,},
{from: 115, to: 116, value: 1,},
{from: 2, to: 115, value: 1,},
{from: 115, to: 117, value: 1,},
{from: 2, to: 116, value: 1,},
{from: 116, to: 117, value: 1,},
{from: 2, to: 117, value: 1,},
{from: 118, to: 119, value: 1,},
{from: 118, to: 120, value: 1,},
{from: 73, to: 118, value: 1,},
{from: 2, to: 118, value: 1,},
{from: 119, to: 120, value: 1,},
{from: 73, to: 119, value: 1,},
{from: 2, to: 119, value: 1,},
{from: 73, to: 120, value: 1,},
{from: 2, to: 120, value: 1,},
{from: 8, to: 121, value: 2,},
{from: 46, to: 121, value: 1,},
{from: 1, to: 121, value: 2,},
{from: 2, to: 121, value: 2,},
{from: 100, to: 122, value: 1,},
{from: 1, to: 122, value: 2,},
{from: 2, to: 122, value: 2,},
{from: 1, to: 100, value: 1,},
{from: 122, to: 123, value: 1,},
{from: 1, to: 123, value: 5,},
{from: 2, to: 123, value: 5,},
{from: 53, to: 124, value: 1,},
{from: 54, to: 124, value: 1,},
{from: 2, to: 124, value: 1,},
{from: 1, to: 124, value: 1,},
{from: 111, to: 124, value: 1,},
{from: 125, to: 126, value: 1,},
{from: 125, to: 127, value: 1,},
{from: 125, to: 128, value: 1,},
{from: 2, to: 125, value: 1,},
{from: 125, to: 129, value: 1,},
{from: 89, to: 125, value: 1,},
{from: 125, to: 130, value: 1,},
{from: 126, to: 127, value: 1,},
{from: 126, to: 128, value: 1,},
{from: 2, to: 126, value: 1,},
{from: 126, to: 129, value: 1,},
{from: 89, to: 126, value: 1,},
{from: 126, to: 130, value: 1,},
{from: 127, to: 128, value: 1,},
{from: 2, to: 127, value: 1,},
{from: 127, to: 129, value: 1,},
{from: 89, to: 127, value: 1,},
{from: 127, to: 130, value: 1,},
{from: 2, to: 128, value: 1,},
{from: 128, to: 129, value: 1,},
{from: 89, to: 128, value: 1,},
{from: 128, to: 130, value: 1,},
{from: 2, to: 129, value: 4,},
{from: 2, to: 130, value: 1,},
{from: 89, to: 129, value: 2,},
{from: 129, to: 130, value: 1,},
{from: 89, to: 130, value: 1,},
{from: 131, to: 132, value: 1,},
{from: 2, to: 131, value: 1,},
{from: 131, to: 133, value: 1,},
{from: 131, to: 134, value: 1,},
{from: 2, to: 132, value: 1,},
{from: 132, to: 133, value: 1,},
{from: 132, to: 134, value: 1,},
{from: 2, to: 133, value: 2,},
{from: 2, to: 134, value: 1,},
{from: 133, to: 134, value: 1,},
{from: 135, to: 136, value: 2,},
{from: 135, to: 137, value: 2,},
{from: 2, to: 135, value: 2,},
{from: 72, to: 135, value: 2,},
{from: 73, to: 135, value: 2,},
{from: 135, to: 138, value: 2,},
{from: 135, to: 139, value: 2,},
{from: 136, to: 137, value: 2,},
{from: 2, to: 136, value: 2,},
{from: 72, to: 136, value: 2,},
{from: 73, to: 136, value: 2,},
{from: 136, to: 138, value: 2,},
{from: 136, to: 139, value: 2,},
{from: 2, to: 137, value: 2,},
{from: 72, to: 137, value: 2,},
{from: 73, to: 137, value: 2,},
{from: 137, to: 138, value: 2,},
{from: 137, to: 139, value: 2,},
{from: 2, to: 138, value: 2,},
{from: 2, to: 139, value: 2,},
{from: 72, to: 138, value: 2,},
{from: 72, to: 139, value: 2,},
{from: 73, to: 138, value: 2,},
{from: 73, to: 139, value: 2,},
{from: 138, to: 139, value: 2,},
{from: 8, to: 140, value: 7,},
{from: 46, to: 140, value: 7,},
{from: 2, to: 140, value: 7,},
{from: 1, to: 141, value: 1,},
{from: 2, to: 141, value: 1,},
{from: 142, to: 143, value: 3,},
{from: 142, to: 144, value: 3,},
{from: 142, to: 145, value: 3,},
{from: 142, to: 146, value: 2,},
{from: 1, to: 142, value: 3,},
{from: 2, to: 142, value: 3,},
{from: 143, to: 144, value: 4,},
{from: 143, to: 145, value: 4,},
{from: 143, to: 146, value: 2,},
{from: 1, to: 143, value: 4,},
{from: 2, to: 143, value: 4,},
{from: 144, to: 145, value: 4,},
{from: 144, to: 146, value: 2,},
{from: 1, to: 144, value: 4,},
{from: 2, to: 144, value: 4,},
{from: 145, to: 146, value: 2,},
{from: 1, to: 145, value: 4,},
{from: 2, to: 145, value: 4,},
{from: 1, to: 146, value: 2,},
{from: 2, to: 146, value: 2,},
{from: 2, to: 147, value: 1,},
{from: 73, to: 147, value: 1,},
{from: 1, to: 147, value: 1,},
{from: 1, to: 73, value: 1,},
{from: 143, to: 148, value: 1,},
{from: 144, to: 148, value: 1,},
{from: 145, to: 148, value: 1,},
{from: 1, to: 148, value: 1,},
{from: 2, to: 148, value: 1,},
{from: 53, to: 149, value: 1,},
{from: 53, to: 150, value: 1,},
{from: 53, to: 151, value: 1,},
{from: 53, to: 152, value: 1,},
{from: 149, to: 150, value: 1,},
{from: 2, to: 149, value: 1,},
{from: 1, to: 149, value: 1,},
{from: 149, to: 151, value: 1,},
{from: 149, to: 152, value: 1,},
{from: 2, to: 150, value: 1,},
{from: 1, to: 150, value: 1,},
{from: 150, to: 151, value: 1,},
{from: 150, to: 152, value: 1,},
{from: 2, to: 151, value: 1,},
{from: 2, to: 152, value: 1,},
{from: 1, to: 151, value: 1,},
{from: 1, to: 152, value: 1,},
{from: 151, to: 152, value: 1,},
{from: 1, to: 153, value: 1,},
{from: 153, to: 154, value: 1,},
{from: 2, to: 153, value: 1,},
{from: 1, to: 154, value: 3,},
{from: 2, to: 154, value: 3,},
{from: 50, to: 155, value: 2,},
{from: 50, to: 156, value: 2,},
{from: 76, to: 155, value: 1,},
{from: 76, to: 156, value: 1,},
{from: 2, to: 155, value: 2,},
{from: 155, to: 156, value: 2,},
{from: 2, to: 156, value: 2,},
{from: 1, to: 140, value: 4,},
{from: 8, to: 157, value: 2,},
{from: 46, to: 157, value: 2,},
{from: 48, to: 157, value: 1,},
{from: 48, to: 140, value: 1,},
{from: 1, to: 157, value: 2,},
{from: 140, to: 157, value: 1,},
{from: 2, to: 157, value: 2,},
{from: 142, to: 158, value: 1,},
{from: 142, to: 159, value: 1,},
{from: 142, to: 160, value: 1,},
{from: 143, to: 158, value: 1,},
{from: 143, to: 159, value: 1,},
{from: 143, to: 160, value: 1,},
{from: 144, to: 158, value: 1,},
{from: 144, to: 159, value: 1,},
{from: 144, to: 160, value: 1,},
{from: 158, to: 159, value: 1,},
{from: 158, to: 160, value: 1,},
{from: 145, to: 158, value: 1,},
{from: 1, to: 158, value: 1,},
{from: 2, to: 158, value: 1,},
{from: 159, to: 160, value: 1,},
{from: 145, to: 159, value: 1,},
{from: 1, to: 159, value: 1,},
{from: 2, to: 159, value: 1,},
{from: 145, to: 160, value: 1,},
{from: 1, to: 160, value: 1,},
{from: 2, to: 160, value: 1,},
{from: 8, to: 161, value: 2,},
{from: 46, to: 104, value: 1,},
{from: 104, to: 157, value: 1,},
{from: 104, to: 161, value: 1,},
{from: 46, to: 161, value: 2,},
{from: 157, to: 161, value: 1,},
{from: 1, to: 161, value: 2,},
{from: 2, to: 161, value: 2,},
{from: 162, to: 163, value: 1,},
{from: 162, to: 164, value: 1,},
{from: 162, to: 165, value: 1,},
{from: 162, to: 166, value: 1,},
{from: 2, to: 162, value: 1,},
{from: 163, to: 164, value: 1,},
{from: 163, to: 165, value: 1,},
{from: 163, to: 166, value: 1,},
{from: 2, to: 163, value: 1,},
{from: 164, to: 165, value: 1,},
{from: 164, to: 166, value: 1,},
{from: 2, to: 164, value: 1,},
{from: 165, to: 166, value: 1,},
{from: 2, to: 165, value: 1,},
{from: 2, to: 166, value: 1,},
{from: 50, to: 167, value: 1,},
{from: 155, to: 167, value: 1,},
{from: 2, to: 167, value: 1,},
{from: 156, to: 167, value: 1,},
{from: 8, to: 168, value: 1,},
{from: 46, to: 168, value: 1,},
{from: 48, to: 161, value: 1,},
{from: 48, to: 168, value: 1,},
{from: 161, to: 168, value: 1,},
{from: 1, to: 168, value: 1,},
{from: 2, to: 168, value: 4,},
{from: 1, to: 169, value: 1,},
{from: 2, to: 169, value: 1,},
{from: 170, to: 171, value: 1,},
{from: 170, to: 172, value: 1,},
{from: 2, to: 170, value: 1,},
{from: 170, to: 173, value: 1,},
{from: 171, to: 172, value: 1,},
{from: 2, to: 171, value: 1,},
{from: 171, to: 173, value: 1,},
{from: 2, to: 172, value: 1,},
{from: 172, to: 173, value: 1,},
{from: 2, to: 173, value: 1,},
{from: 1, to: 174, value: 2,},
{from: 2, to: 174, value: 2,},
{from: 1, to: 175, value: 1,},
{from: 2, to: 175, value: 1,},
{from: 176, to: 177, value: 1,},
{from: 176, to: 178, value: 1,},
{from: 176, to: 179, value: 1,},
{from: 2, to: 176, value: 1,},
{from: 177, to: 178, value: 1,},
{from: 177, to: 179, value: 1,},
{from: 2, to: 177, value: 1,},
{from: 178, to: 179, value: 1,},
{from: 2, to: 178, value: 1,},
{from: 2, to: 179, value: 1,},
{from: 8, to: 180, value: 2,},
{from: 46, to: 180, value: 3,},
{from: 11, to: 180, value: 3,},
{from: 140, to: 180, value: 1,},
{from: 1, to: 180, value: 2,},
{from: 2, to: 180, value: 3,},
{from: 11, to: 140, value: 1,},
{from: 43, to: 181, value: 1,},
{from: 2, to: 181, value: 1,},
{from: 123, to: 182, value: 3,},
{from: 1, to: 182, value: 5,},
{from: 2, to: 182, value: 5,},
{from: 1, to: 183, value: 1,},
{from: 2, to: 183, value: 1,},
{from: 123, to: 184, value: 2,},
{from: 182, to: 184, value: 1,},
{from: 1, to: 184, value: 4,},
{from: 2, to: 184, value: 4,},
{from: 1, to: 185, value: 1,},
{from: 2, to: 185, value: 1,},
{from: 186, to: 187, value: 4,},
{from: 2, to: 186, value: 6,},
{from: 31, to: 186, value: 4,},
{from: 2, to: 187, value: 4,},
{from: 31, to: 187, value: 3,},
{from: 48, to: 180, value: 1,},
{from: 1, to: 188, value: 2,},
{from: 2, to: 188, value: 2,},
{from: 180, to: 189, value: 1,},
{from: 180, to: 190, value: 1,},
{from: 180, to: 191, value: 1,},
{from: 180, to: 192, value: 1,},
{from: 11, to: 189, value: 1,},
{from: 11, to: 190, value: 1,},
{from: 11, to: 191, value: 1,},
{from: 11, to: 192, value: 1,},
{from: 189, to: 190, value: 1,},
{from: 189, to: 191, value: 1,},
{from: 2, to: 189, value: 1,},
{from: 189, to: 192, value: 1,},
{from: 46, to: 189, value: 1,},
{from: 190, to: 191, value: 1,},
{from: 2, to: 190, value: 1,},
{from: 190, to: 192, value: 1,},
{from: 46, to: 190, value: 1,},
{from: 2, to: 191, value: 1,},
{from: 191, to: 192, value: 1,},
{from: 46, to: 191, value: 1,},
{from: 2, to: 192, value: 1,},
{from: 46, to: 192, value: 1,},
{from: 1, to: 193, value: 1,},
{from: 193, to: 194, value: 1,},
{from: 2, to: 193, value: 1,},
{from: 1, to: 194, value: 2,},
{from: 2, to: 194, value: 2,},
{from: 1, to: 195, value: 7,},
{from: 2, to: 195, value: 7,},
{from: 1, to: 196, value: 1,},
{from: 2, to: 196, value: 1,},
{from: 1, to: 197, value: 1,},
{from: 2, to: 197, value: 1,},
{from: 198, to: 199, value: 1,},
{from: 22, to: 198, value: 1,},
{from: 2, to: 198, value: 1,},
{from: 22, to: 199, value: 1,},
{from: 2, to: 199, value: 1,},
{from: 1, to: 200, value: 1,},
{from: 2, to: 200, value: 1,},
{from: 1, to: 201, value: 1,},
{from: 2, to: 201, value: 1,},
{from: 1, to: 202, value: 1,},
{from: 2, to: 202, value: 1,},
{from: 1, to: 203, value: 1,},
{from: 2, to: 203, value: 1,},
{from: 2, to: 204, value: 1,},
{from: 133, to: 204, value: 1,},
{from: 2, to: 205, value: 1,},
{from: 1, to: 205, value: 1,},
{from: 206, to: 207, value: 1,},
{from: 2, to: 206, value: 1,},
{from: 129, to: 206, value: 1,},
{from: 2, to: 207, value: 1,},
{from: 129, to: 207, value: 1,},
{from: 2, to: 208, value: 1,},
{from: 208, to: 209, value: 1,},
{from: 208, to: 210, value: 1,},
{from: 208, to: 211, value: 1,},
{from: 208, to: 212, value: 1,},
{from: 2, to: 209, value: 1,},
{from: 2, to: 210, value: 1,},
{from: 2, to: 211, value: 1,},
{from: 2, to: 212, value: 1,},
{from: 209, to: 210, value: 1,},
{from: 209, to: 211, value: 1,},
{from: 209, to: 212, value: 1,},
{from: 210, to: 211, value: 1,},
{from: 210, to: 212, value: 1,},
{from: 211, to: 212, value: 1,},
{from: 2, to: 213, value: 1,},
{from: 213, to: 214, value: 1,},
{from: 2, to: 214, value: 1,},
{from: 215, to: 216, value: 1,},
{from: 215, to: 217, value: 1,},
{from: 1, to: 215, value: 1,},
{from: 2, to: 215, value: 1,},
{from: 216, to: 217, value: 1,},
{from: 1, to: 216, value: 1,},
{from: 2, to: 216, value: 1,},
{from: 1, to: 217, value: 1,},
{from: 2, to: 217, value: 1,},
{from: 194, to: 218, value: 1,},
{from: 1, to: 218, value: 1,},
{from: 2, to: 218, value: 1,},
{from: 2, to: 219, value: 2,},
{from: 1, to: 219, value: 2,},
{from: 1, to: 220, value: 2,},
{from: 2, to: 220, value: 2,},
{from: 1, to: 221, value: 3,},
{from: 2, to: 221, value: 3,},
{from: 222, to: 223, value: 1,},
{from: 2, to: 222, value: 1,},
{from: 129, to: 222, value: 1,},
{from: 222, to: 224, value: 1,},
{from: 2, to: 223, value: 1,},
{from: 129, to: 223, value: 1,},
{from: 223, to: 224, value: 1,},
{from: 2, to: 224, value: 1,},
{from: 129, to: 224, value: 1,},
{from: 1, to: 225, value: 1,},
{from: 2, to: 225, value: 1,},
{from: 1, to: 226, value: 1,},
{from: 84, to: 226, value: 1,},
{from: 2, to: 226, value: 1,},
{from: 227, to: 228, value: 2,},
{from: 1, to: 227, value: 2,},
{from: 2, to: 227, value: 2,},
{from: 1, to: 228, value: 2,},
{from: 2, to: 228, value: 2,},
{from: 1, to: 229, value: 3,},
{from: 2, to: 229, value: 3,},
{from: 220, to: 229, value: 1,},
{from: 1, to: 230, value: 1,},
{from: 229, to: 230, value: 1,},
{from: 2, to: 230, value: 1,},
{from: 1, to: 231, value: 1,},
{from: 2, to: 231, value: 1,},
{from: 1, to: 232, value: 1,},
{from: 2, to: 232, value: 1,},
{from: 233, to: 234, value: 1,},
{from: 233, to: 235, value: 1,},
{from: 233, to: 236, value: 1,},
{from: 233, to: 237, value: 1,},
{from: 2, to: 233, value: 1,},
{from: 234, to: 235, value: 1,},
{from: 234, to: 236, value: 1,},
{from: 234, to: 237, value: 1,},
{from: 2, to: 234, value: 1,},
{from: 235, to: 236, value: 1,},
{from: 235, to: 237, value: 1,},
{from: 2, to: 235, value: 1,},
{from: 236, to: 237, value: 1,},
{from: 2, to: 236, value: 1,},
{from: 2, to: 237, value: 1,},
{from: 2, to: 238, value: 1,},
{from: 238, to: 239, value: 1,},
{from: 238, to: 240, value: 1,},
{from: 238, to: 241, value: 1,},
{from: 2, to: 239, value: 1,},
{from: 2, to: 240, value: 1,},
{from: 2, to: 241, value: 1,},
{from: 239, to: 240, value: 1,},
{from: 239, to: 241, value: 1,},
{from: 240, to: 241, value: 1,},
{from: 1, to: 242, value: 1,},
{from: 2, to: 242, value: 1,},
{from: 2, to: 243, value: 1,},
{from: 243, to: 244, value: 1,},
{from: 243, to: 245, value: 1,},
{from: 2, to: 244, value: 1,},
{from: 2, to: 245, value: 1,},
{from: 244, to: 245, value: 1,},
{from: 195, to: 246, value: 1,},
{from: 195, to: 247, value: 2,},
{from: 246, to: 247, value: 2,},
{from: 1, to: 246, value: 1,},
{from: 2, to: 246, value: 1,},
{from: 1, to: 247, value: 2,},
{from: 2, to: 247, value: 2,},
{from: 248, to: 249, value: 1,},
{from: 2, to: 248, value: 1,},
{from: 2, to: 249, value: 1,},
{from: 182, to: 250, value: 1,},
{from: 182, to: 251, value: 1,},
{from: 182, to: 252, value: 1,},
{from: 182, to: 253, value: 1,},
{from: 182, to: 254, value: 1,},
{from: 182, to: 255, value: 1,},
{from: 182, to: 256, value: 1,},
{from: 182, to: 257, value: 1,},
{from: 182, to: 258, value: 1,},
{from: 250, to: 251, value: 1,},
{from: 250, to: 252, value: 1,},
{from: 250, to: 253, value: 1,},
{from: 250, to: 254, value: 1,},
{from: 250, to: 255, value: 1,},
{from: 250, to: 256, value: 1,},
{from: 250, to: 257, value: 1,},
{from: 250, to: 258, value: 1,},
{from: 1, to: 250, value: 1,},
{from: 2, to: 250, value: 1,},
{from: 251, to: 252, value: 1,},
{from: 251, to: 253, value: 1,},
{from: 251, to: 254, value: 1,},
{from: 251, to: 255, value: 1,},
{from: 251, to: 256, value: 1,},
{from: 251, to: 257, value: 1,},
{from: 251, to: 258, value: 1,},
{from: 1, to: 251, value: 1,},
{from: 2, to: 251, value: 1,},
{from: 252, to: 253, value: 1,},
{from: 252, to: 254, value: 1,},
{from: 252, to: 255, value: 1,},
{from: 252, to: 256, value: 1,},
{from: 252, to: 257, value: 1,},
{from: 252, to: 258, value: 1,},
{from: 1, to: 252, value: 1,},
{from: 2, to: 252, value: 1,},
{from: 253, to: 254, value: 1,},
{from: 253, to: 255, value: 1,},
{from: 253, to: 256, value: 1,},
{from: 253, to: 257, value: 1,},
{from: 253, to: 258, value: 1,},
{from: 1, to: 253, value: 1,},
{from: 2, to: 253, value: 1,},
{from: 254, to: 255, value: 1,},
{from: 254, to: 256, value: 1,},
{from: 254, to: 257, value: 1,},
{from: 254, to: 258, value: 1,},
{from: 1, to: 254, value: 1,},
{from: 2, to: 254, value: 1,},
{from: 255, to: 256, value: 1,},
{from: 255, to: 257, value: 1,},
{from: 255, to: 258, value: 1,},
{from: 1, to: 255, value: 1,},
{from: 2, to: 255, value: 1,},
{from: 256, to: 257, value: 1,},
{from: 256, to: 258, value: 1,},
{from: 1, to: 256, value: 1,},
{from: 2, to: 256, value: 1,},
{from: 257, to: 258, value: 1,},
{from: 1, to: 257, value: 1,},
{from: 2, to: 257, value: 1,},
{from: 1, to: 258, value: 8,},
{from: 2, to: 258, value: 9,},
{from: 1, to: 259, value: 1,},
{from: 258, to: 259, value: 1,},
{from: 2, to: 259, value: 1,},
{from: 260, to: 261, value: 1,},
{from: 2, to: 260, value: 1,},
{from: 2, to: 261, value: 1,},
{from: 2, to: 263, value: 3,},
{from: 1, to: 264, value: 2,},
{from: 264, to: 265, value: 1,},
{from: 264, to: 266, value: 1,},
{from: 2, to: 264, value: 2,},
{from: 1, to: 265, value: 1,},
{from: 1, to: 266, value: 1,},
{from: 265, to: 266, value: 1,},
{from: 2, to: 265, value: 1,},
{from: 2, to: 266, value: 1,},
{from: 1, to: 267, value: 1,},
{from: 84, to: 267, value: 1,},
{from: 2, to: 267, value: 1,},
{from: 268, to: 269, value: 1,},
{from: 2, to: 268, value: 1,},
{from: 2, to: 269, value: 1,},
{from: 270, to: 271, value: 1,},
{from: 2, to: 270, value: 1,},
{from: 2, to: 271, value: 1,},
{from: 84, to: 258, value: 2,},
{from: 2, to: 272, value: 1,},
{from: 1, to: 272, value: 1,},
{from: 273, to: 274, value: 1,},
{from: 2, to: 273, value: 1,},
{from: 273, to: 275, value: 1,},
{from: 273, to: 276, value: 1,},
{from: 273, to: 277, value: 1,},
{from: 273, to: 278, value: 1,},
{from: 273, to: 279, value: 1,},
{from: 2, to: 274, value: 1,},
{from: 274, to: 275, value: 1,},
{from: 274, to: 276, value: 1,},
{from: 274, to: 277, value: 1,},
{from: 274, to: 278, value: 1,},
{from: 274, to: 279, value: 1,},
{from: 2, to: 275, value: 2,},
{from: 2, to: 276, value: 1,},
{from: 2, to: 277, value: 1,},
{from: 2, to: 278, value: 1,},
{from: 2, to: 279, value: 1,},
{from: 275, to: 276, value: 1,},
{from: 275, to: 277, value: 1,},
{from: 275, to: 278, value: 1,},
{from: 275, to: 279, value: 1,},
{from: 276, to: 277, value: 1,},
{from: 276, to: 278, value: 1,},
{from: 276, to: 279, value: 1,},
{from: 277, to: 278, value: 1,},
{from: 277, to: 279, value: 1,},
{from: 278, to: 279, value: 1,},
{from: 280, to: 281, value: 1,},
{from: 280, to: 282, value: 1,},
{from: 2, to: 280, value: 1,},
{from: 281, to: 282, value: 1,},
{from: 2, to: 281, value: 1,},
{from: 2, to: 282, value: 1,},
{from: 258, to: 283, value: 1,},
{from: 258, to: 284, value: 1,},
{from: 258, to: 285, value: 1,},
{from: 84, to: 283, value: 1,},
{from: 1, to: 283, value: 1,},
{from: 283, to: 284, value: 1,},
{from: 283, to: 285, value: 1,},
{from: 2, to: 283, value: 1,},
{from: 84, to: 284, value: 1,},
{from: 84, to: 285, value: 1,},
{from: 1, to: 284, value: 1,},
{from: 1, to: 285, value: 1,},
{from: 284, to: 285, value: 1,},
{from: 2, to: 284, value: 1,},
{from: 2, to: 285, value: 1,},
{from: 2, to: 286, value: 1,},
{from: 2, to: 287, value: 1,},
{from: 129, to: 287, value: 1,},
{from: 89, to: 287, value: 1,},
{from: 287, to: 288, value: 1,},
{from: 287, to: 289, value: 1,},
{from: 275, to: 287, value: 1,},
{from: 287, to: 290, value: 1,},
{from: 287, to: 291, value: 1,},
{from: 2, to: 288, value: 1,},
{from: 2, to: 289, value: 1,},
{from: 2, to: 290, value: 1,},
{from: 2, to: 291, value: 1,},
{from: 129, to: 288, value: 1,},
{from: 129, to: 289, value: 1,},
{from: 129, to: 275, value: 1,},
{from: 129, to: 290, value: 1,},
{from: 129, to: 291, value: 1,},
{from: 89, to: 288, value: 1,},
{from: 89, to: 289, value: 1,},
{from: 89, to: 275, value: 1,},
{from: 89, to: 290, value: 1,},
{from: 89, to: 291, value: 1,},
{from: 288, to: 289, value: 1,},
{from: 275, to: 288, value: 1,},
{from: 288, to: 290, value: 1,},
{from: 288, to: 291, value: 1,},
{from: 275, to: 289, value: 1,},
{from: 289, to: 290, value: 1,},
{from: 289, to: 291, value: 1,},
{from: 275, to: 290, value: 1,},
{from: 275, to: 291, value: 1,},
{from: 290, to: 291, value: 1,},
{from: 2, to: 292, value: 1,},
{from: 292, to: 293, value: 1,},
{from: 2, to: 293, value: 1,},
{from: 2, to: 294, value: 2,},
{from: 294, to: 295, value: 1,},
{from: 294, to: 296, value: 1,},
{from: 294, to: 297, value: 2,},
{from: 294, to: 298, value: 2,},
{from: 2, to: 295, value: 1,},
{from: 2, to: 296, value: 1,},
{from: 2, to: 297, value: 2,},
{from: 2, to: 298, value: 2,},
{from: 295, to: 296, value: 1,},
{from: 295, to: 297, value: 1,},
{from: 295, to: 298, value: 1,},
{from: 296, to: 297, value: 1,},
{from: 296, to: 298, value: 1,},
{from: 297, to: 298, value: 2,},
{from: 299, to: 300, value: 1,},
{from: 2, to: 299, value: 1,},
{from: 294, to: 299, value: 1,},
{from: 299, to: 301, value: 1,},
{from: 299, to: 302, value: 1,},
{from: 299, to: 303, value: 1,},
{from: 299, to: 304, value: 1,},
{from: 299, to: 305, value: 1,},
{from: 297, to: 299, value: 1,},
{from: 298, to: 299, value: 1,},
{from: 2, to: 300, value: 1,},
{from: 294, to: 300, value: 1,},
{from: 300, to: 301, value: 1,},
{from: 300, to: 302, value: 1,},
{from: 300, to: 303, value: 1,},
{from: 300, to: 304, value: 1,},
{from: 300, to: 305, value: 1,},
{from: 297, to: 300, value: 1,},
{from: 298, to: 300, value: 1,},
{from: 2, to: 301, value: 1,},
{from: 2, to: 302, value: 1,},
{from: 2, to: 303, value: 1,},
{from: 2, to: 304, value: 1,},
{from: 2, to: 305, value: 1,},
{from: 294, to: 301, value: 1,},
{from: 294, to: 302, value: 1,},
{from: 294, to: 303, value: 1,},
{from: 294, to: 304, value: 1,},
{from: 294, to: 305, value: 1,},
{from: 301, to: 302, value: 1,},
{from: 301, to: 303, value: 1,},
{from: 301, to: 304, value: 1,},
{from: 301, to: 305, value: 1,},
{from: 297, to: 301, value: 1,},
{from: 298, to: 301, value: 1,},
{from: 302, to: 303, value: 1,},
{from: 302, to: 304, value: 1,},
{from: 302, to: 305, value: 1,},
{from: 297, to: 302, value: 1,},
{from: 298, to: 302, value: 1,},
{from: 303, to: 304, value: 1,},
{from: 303, to: 305, value: 1,},
{from: 297, to: 303, value: 1,},
{from: 298, to: 303, value: 1,},
{from: 304, to: 305, value: 1,},
{from: 297, to: 304, value: 1,},
{from: 298, to: 304, value: 1,},
{from: 297, to: 305, value: 1,},
{from: 298, to: 305, value: 1,},
{from: 2, to: 306, value: 1,},
{from: 2, to: 307, value: 4,},
{from: 307, to: 308, value: 4,},
{from: 2, to: 308, value: 8,},
{from: 309, to: 310, value: 2,},
{from: 309, to: 311, value: 2,},
{from: 2, to: 309, value: 2,},
{from: 309, to: 312, value: 2,},
{from: 309, to: 313, value: 2,},
{from: 309, to: 314, value: 2,},
{from: 309, to: 315, value: 2,},
{from: 310, to: 311, value: 2,},
{from: 2, to: 310, value: 2,},
{from: 310, to: 312, value: 2,},
{from: 310, to: 313, value: 2,},
{from: 310, to: 314, value: 2,},
{from: 310, to: 315, value: 2,},
{from: 2, to: 311, value: 2,},
{from: 311, to: 312, value: 2,},
{from: 311, to: 313, value: 2,},
{from: 311, to: 314, value: 2,},
{from: 311, to: 315, value: 2,},
{from: 2, to: 312, value: 2,},
{from: 2, to: 313, value: 2,},
{from: 2, to: 314, value: 2,},
{from: 2, to: 315, value: 2,},
{from: 312, to: 313, value: 2,},
{from: 312, to: 314, value: 2,},
{from: 312, to: 315, value: 2,},
{from: 313, to: 314, value: 2,},
{from: 313, to: 315, value: 2,},
{from: 314, to: 315, value: 2,},
{from: 2, to: 316, value: 2,},
{from: 315, to: 317, value: 1,},
{from: 315, to: 318, value: 1,},
{from: 315, to: 319, value: 1,},
{from: 309, to: 317, value: 1,},
{from: 309, to: 318, value: 1,},
{from: 309, to: 319, value: 1,},
{from: 311, to: 317, value: 1,},
{from: 311, to: 318, value: 1,},
{from: 311, to: 319, value: 1,},
{from: 2, to: 317, value: 1,},
{from: 2, to: 318, value: 1,},
{from: 2, to: 319, value: 1,},
{from: 310, to: 317, value: 1,},
{from: 310, to: 318, value: 1,},
{from: 310, to: 319, value: 1,},
{from: 312, to: 317, value: 1,},
{from: 317, to: 318, value: 1,},
{from: 317, to: 319, value: 1,},
{from: 313, to: 317, value: 1,},
{from: 314, to: 317, value: 1,},
{from: 312, to: 318, value: 1,},
{from: 312, to: 319, value: 1,},
{from: 318, to: 319, value: 1,},
{from: 313, to: 318, value: 1,},
{from: 314, to: 318, value: 1,},
{from: 313, to: 319, value: 1,},
{from: 314, to: 319, value: 1,},
{from: 168, to: 320, value: 3,},
{from: 2, to: 320, value: 4,},
{from: 321, to: 322, value: 1,},
{from: 321, to: 323, value: 1,},
{from: 321, to: 324, value: 1,},
{from: 321, to: 325, value: 1,},
{from: 2, to: 321, value: 1,},
{from: 322, to: 323, value: 1,},
{from: 322, to: 324, value: 1,},
{from: 322, to: 325, value: 1,},
{from: 2, to: 322, value: 1,},
{from: 323, to: 324, value: 1,},
{from: 323, to: 325, value: 1,},
{from: 2, to: 323, value: 1,},
{from: 324, to: 325, value: 1,},
{from: 2, to: 324, value: 1,},
{from: 2, to: 325, value: 1,},
{from: 2, to: 326, value: 1,},
{from: 2, to: 327, value: 1,},
{from: 2, to: 328, value: 1,},
{from: 326, to: 327, value: 1,},
{from: 326, to: 328, value: 1,},
{from: 327, to: 328, value: 1,},
{from: 2, to: 329, value: 1,},
{from: 320, to: 330, value: 2,},
{from: 330, to: 331, value: 2,},
{from: 2, to: 330, value: 3,},
{from: 320, to: 331, value: 1,},
{from: 2, to: 331, value: 2,},
{from: 2, to: 332, value: 14,},
{from: 316, to: 333, value: 1,},
{from: 316, to: 334, value: 1,},
{from: 333, to: 334, value: 1,},
{from: 2, to: 333, value: 1,},
{from: 2, to: 334, value: 1,},
{from: 335, to: 336, value: 1,},
{from: 2, to: 335, value: 1,},
{from: 2, to: 336, value: 1,},
{from: 168, to: 330, value: 1,},
{from: 330, to: 337, value: 1,},
{from: 168, to: 337, value: 1,},
{from: 320, to: 337, value: 1,},
{from: 2, to: 337, value: 1,},
{from: 332, to: 338, value: 2,},
{from: 338, to: 339, value: 1,},
{from: 2, to: 338, value: 2,},
{from: 332, to: 339, value: 1,},
{from: 2, to: 339, value: 1,},
{from: 308, to: 340, value: 1,},
{from: 308, to: 341, value: 1,},
{from: 2, to: 340, value: 1,},
{from: 2, to: 341, value: 1,},
{from: 340, to: 341, value: 1,},
{from: 2, to: 342, value: 2,},
{from: 31, to: 342, value: 2,},
{from: 308, to: 343, value: 1,},
{from: 308, to: 344, value: 1,},
{from: 2, to: 343, value: 1,},
{from: 343, to: 344, value: 1,},
{from: 307, to: 343, value: 1,},
{from: 2, to: 344, value: 1,},
{from: 307, to: 344, value: 1,},
{from: 308, to: 345, value: 1,},
{from: 308, to: 346, value: 1,},
{from: 308, to: 347, value: 1,},
{from: 2, to: 345, value: 1,},
{from: 2, to: 346, value: 1,},
{from: 2, to: 347, value: 1,},
{from: 345, to: 346, value: 1,},
{from: 345, to: 347, value: 1,},
{from: 307, to: 345, value: 1,},
{from: 346, to: 347, value: 1,},
{from: 307, to: 346, value: 1,},
{from: 307, to: 347, value: 1,},
{from: 2, to: 348, value: 1,},
{from: 348, to: 349, value: 1,},
{from: 348, to: 350, value: 1,},
{from: 348, to: 351, value: 1,},
{from: 348, to: 352, value: 1,},
{from: 2, to: 349, value: 1,},
{from: 2, to: 350, value: 1,},
{from: 2, to: 351, value: 1,},
{from: 2, to: 352, value: 1,},
{from: 349, to: 350, value: 1,},
{from: 349, to: 351, value: 1,},
{from: 349, to: 352, value: 1,},
{from: 350, to: 351, value: 1,},
{from: 350, to: 352, value: 1,},
{from: 351, to: 352, value: 1,},
{from: 332, to: 353, value: 1,},
{from: 2, to: 353, value: 1,},
{from: 353, to: 354, value: 1,},
{from: 332, to: 354, value: 1,},
{from: 2, to: 354, value: 1,},
{from: 2, to: 355, value: 1,},
{from: 308, to: 355, value: 1,},
{from: 2, to: 356, value: 1,},
{from: 308, to: 356, value: 1,},
{from: 2, to: 357, value: 1,},
{from: 2, to: 358, value: 1,},
{from: 357, to: 358, value: 1,},
{from: 332, to: 357, value: 1,},
{from: 332, to: 358, value: 1,},
{from: 332, to: 359, value: 3,},
{from: 2, to: 359, value: 3,},
{from: 360, to: 361, value: 1,},
{from: 2, to: 360, value: 1,},
{from: 2, to: 361, value: 1,},
{from: 2, to: 362, value: 1,},
{from: 359, to: 362, value: 1,},
{from: 332, to: 362, value: 1,},
{from: 363, to: 364, value: 1,},
{from: 2, to: 363, value: 1,},
{from: 2, to: 364, value: 1,},


    ]);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
    edges: {width: 3},
    nodes: {shape: "dot",}
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>
</body>
</html>